body {
  background: white;
  color: black;
  font-family: verdana;
      font-size: 20px;
}
.main{
  background-color: #FF512F;
  display: block;
  color: white;
  max-width: 1500px;
}

.section-1 {
	  background-color: white;
	  font-size: 20px;
    display: inline-block;
    max-width: 1500px;
	}

.recommended-shoes{
  background-color: #FF512F;
}



/*FONT and TEXT Color*/
.greytext {
color: grey;
font-size: 15px;

}

.RecomShoeTitle {
color: white
  }
.menu {
color: red;
font-size: 15px;

}

.Price {
  color: white

}

/*Images*/

.logoshoe {
height: 30px;
width: 70px;

}

.image-1 {
    height: 200px;
    width: 350px;
  }


  .image-2 {
    height: 200px;
    width: 350px;
  }


  .image-3 {
    height: 200px;
    width: 350px;
  }
